<div class="desktop-environment">
  
  <div class="desktop-icons">
    <icon windowId="melon"
    (iconClicked)="openWindow($event)"
    name="melon harvest"
    picture="cucu.png"></icon>

     <icon windowId="music"
    (iconClicked)="openWindow($event)"
    name="mixtapes"
    emoji="🎶"
    picture="seaslug.png"></icon>

    <icon windowId="about"
    (iconClicked)="openWindow($event)"
    name="system info"
    emoji="🖥️"
    picture="catcomp.png"></icon>

    <icon windowId="drawbox" 
    (iconClicked)="openWindow($event)"
    name="paint"
    emoji="🎨"
    picture="greencat.png"></icon>
    
    <icon windowId="guestbook" 
    (iconClicked)="openWindow($event)"
    name="guest book"
    picture="nav.png"
    emoji="📖"></icon>

    <icon windowId="new" 
    (iconClicked)="openWindow($event)"
    name="updates"
    emoji="!"
    picture="salad.gif"></icon>

    <icon windowId="settings" 
    (iconClicked)="openWindow($event)"
    name="settings"
    emoji="⚙️"
    picture="cat-snack.png"></icon>

</div>
  <div class="windows-layer">
    
    @if (openWindows['melon']) {
      <melonharvest 
        [isClosing]="closingWindows['melon']"
        (onCloseWindow)="startCloseWindow('melon')"
        (onAnimationFinished)="destroyWindow('melon')">
      </melonharvest>
    }

        @if (openWindows['new']) {
      <new 
        [isClosing]="closingWindows['new']"
        (onCloseWindow)="startCloseWindow('new')"
        (onAnimationFinished)="destroyWindow('new')">
      </new>
    }

    @if (openWindows['intro']) {
      <intro 
        [isClosing]="closingWindows['intro']"
        [accessibility]="accessibility"
        (toggleSetting)="toggleSetting($event)"
        (onCloseWindow)="startCloseWindow('intro')"
        (onAnimationFinished)="destroyWindow('intro')"
        (wizardComplete)="handleWizardCompletion()">
      </intro>
    }

        @if (openWindows['settings']) {
      <settings 
        [isClosing]="closingWindows['settings']"
        [accessibility]="accessibility"
        (onToggleSetting)="toggleSetting($event)"
        (onCloseWindow)="startCloseWindow('settings')"
        (onAnimationFinished)="destroyWindow('settings')">
      </settings>
    }

    
        @if (openWindows['about']) {
      <about 
        [isClosing]="closingWindows['about']"
        (onCloseWindow)="startCloseWindow('about')"
        (onAnimationFinished)="destroyWindow('about')">
      </about>
    }

    @if (openWindows['drawbox']) {
      <drawbox 
        [isClosing]="closingWindows['drawbox']"
        (onCloseWindow)="startCloseWindow('drawbox')"
        (onAnimationFinished)="destroyWindow('drawbox')">
      </drawbox>
    }

        @if (openWindows['guestbook']) {
      <guestbook 
        [isClosing]="closingWindows['guestbook']"
        (onCloseWindow)="startCloseWindow('guestbook')"
        (onAnimationFinished)="destroyWindow('guestbook')">
      </guestbook>
    }

       @if (openWindows['music']) {
      <musicplayer 
        [isClosing]="closingWindows['music']"
        (onCloseWindow)="startCloseWindow('music')"
        (onAnimationFinished)="destroyWindow('music')">
      </musicplayer>
    }


    

  </div>
</div>