@if (isWindowVisible) { 
  <window (close)="closeWindow()" (animationFinished)="destroyWindow()" [isClosing]="isClosing"> 
  <windowtitle> 
    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24"><path d="M18 22H6v-2h12v2ZM6 20H4v-2h2v2Zm14 0h-2v-2h2v2ZM4 18H2V6h2v12Zm11 0H9v-2h6v2Zm7 0h-2V6h2v12Zm-5-2h-2v-2H9v2H7v-4h10v4Zm-7-6H8V8h2v2Zm6 0h-2V8h2v2ZM6 6H4V4h2v2Zm14 0h-2V4h2v2Zm-2-2H6V2h12v2Z"/></svg>
    o hello there …</windowtitle>
  <windowcontent>
    <div *ngIf="activeTab === 'home'" class="tab first">
       <a href="https://www.instagram.com/digitaldevilsaga/" target="_blank"><div class="wizard" title="@digitaldevilsaga on instagram"> </div></a>
       <div class="setup-blurb"> 
      <h2>welcome to the 9×13 installation wizard</h2>
      <br>
      <p>this wizard will guide you through your experience on 9×13.</p>
      <br>
      <p>9×13 is intended for adults only.<br> 9×13 uses javascript & is dubiously (read: not) mobile friendly </p>
      <br>
      <p>click 'next' to continue...</p>
      <br>
      <button class="nextbutton pixel-corners-cont" (click)="setActiveTab('next')">next</button>
    </div></div>

<div *ngIf="activeTab === 'next'" class="tab setup-accessibility">
  <h2> settings</h2>
  <p>customize your 9×13 browsing experience. your preferences are written to local storage!</p>
  <br>

  <div class="settings-grid">

    <!-- need to make high contrast color palette and test animation disable -->
    <!--
    <label class="setting-item">
      <input type="checkbox" 
             #contrastInput
             [checked]="accessibility.highContrast" 
             (change)="toggleSetting('highContrast', contrastInput.checked)">
      <span>high contrast mode</span>
    </label>

    <label class="setting-item">
      <input type="checkbox" 
             #animInput
             [checked]="accessibility.disableAnimations" 
             (change)="toggleSetting('disableAnimations', animInput.checked)">
      <span>disable transitions & animations</span>
    </label> -->

    <label class="setting-item">
      <input type="checkbox" 
             #fontInput
             [checked]="accessibility.dyslexicFont" 
             (change)="toggleSetting('dyslexicFont', fontInput.checked)">
      <span>dyslexic-friendly font</span>
    </label>
  </div>

  <br>
  <button class="backbutton" (click)="setActiveTab('home')">back</button>
</div>

             <!-- @if ("activeTab === 'home"){
        <div class="tab">
      <h2>welcome to the 9×13 installer wizard</h2>
      <br>
      <p>this wizard will guide you through your experience on 9×13.</p>
      <br>
      <p>9×13 is intended for adults only.<br> 9×13 uses javascript & is not mobile friendly (yet!)</p>
      <br>
      <p>click NEXT to continue...</p>
      <br>
      <button class="nextbutton" (click)="setActiveTab('next')">next</button>
    </div>
     } -->

  </windowcontent>

</window>
}
