<window (close)="close()" (animationFinished)="animationDone()" [isClosing]="isClosing">
  <windowtitle>🍈 melon harvest</windowtitle>

  <windowcontent>
    <div class="melonbody">
      <p>
        this is every piece of art i have ever recieved of my beautiful daughter
        cucumber melon. click images to get a full view!
      </p>

      <p style="text-align: center;">
        🍈🍈🍈🍈🍈🍈🍈🍈🍈
      </p>

      <br>

      <div class="gallery-grid">
        @for (file of imageFiles; track file; let i = $index) {
          <div class="gallery-item">
            <img
              [src]="getImagePath(file)"
              [alt]="imageCreator[i]"
              (click)="openImage(i)"
            />

            <span class="creator-credits">
              by
              @if (imageSource[i]) {
                <a
                  [href]="imageSource[i]"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  {{ imageCreator[i] }}
                </a>
              } @else {
                {{ imageCreator[i] }}
              }
            </span>
          </div>
        }
      </div>
    </div>
  </windowcontent>
</window>
@if (selectedImage !== null) {
  <window
    class="image-window"
    (close)="closeImage()"
    [isClosing]="imageViewerClosing"
    (animationFinished)="imageViewerAnimationDone()"
  >
    <windowtitle>
      🍈 {{ imageCreator[selectedImage] }}
    </windowtitle>

    <windowcontent>
      <div class="image-viewer">
        <img
          [src]="getImagePath(imageFiles[selectedImage])"
          [alt]="imageCreator[selectedImage]"
        />
      </div>
    </windowcontent>
  </window>
}